<section id="main">
    <h2>博文列表</h2>
    <%- partial('article/post', { article: article}) %>
    <%- partial('article/comment',{articleid:article._id})%>

    <div id="reply">
        <header>
            <h1>讨论</h1>
            <div></div>
        </header>
        <%- partial('article/commentlist',{comments:article.comments})%>
    </div>
</section>

<aside id="bar">
    <%- partial('../sidebar/hotarticles', { articles: hotarticles}) %>
    <%- partial('../sidebar/category', { categories: categories}) %>
    <%- partial('../sidebar/tags',{tags:tags}) %>
</aside>
<!--<script src='/javascript/dev/article.js'></script>
<script src='/javascript/dev/tag.js'></script>-->
<script src='/javascript/prod/article.js'></script>