<article>
    <header>
        <h1><a href="/articles/detail/<%=article._id%>"><%=article.article_title%></a></h1>
        <div>
            <time pubdate="" datetime="<%=article.post_time%>"><%=article.post_time%></time>
            <strong>目录:</strong>
            <% article.category.forEach(function(category, index) { %>
            <a href="/category/<%=category._id%>"><%=category.category_name%></a>
            <%})%>
            <em><a href="/articles/detail/<%=article._id%>#comments" target="_blank"><%=article.info.reply_count%> comments</a></em>
        </div>
    </header>
    <div class="content">
        <%
        var summary = "";
        if(article.summary && article.summary.length>0){
        summary = article.summary;
        }else{
        summary = article.article_content.slice(0,50);
        }
        %>
        <%=summary%>
    </div>
    <footer><a href="/articles/detail/<%=article._id%>">more »</a></footer>
</article>