.left{
	float:left;
}
.right{
	float:right;
}

/*header*/
.header{
	margin-top:10px;
}

.spliter{
	height:8px;
	clear:both;
	background-color:rgb(163,187,80);
}

#mainWrapper{
	margin:0 auto;
	max-width:1600px;
}

#content{
	margin:10px 0px;
}

.post{
	margin-bottom:30px;
}

.post h2{
	line-height:120%;
	letter-spacing:-1px;
	padding:6px 0px;
	font-size:22px;
	margin:0px;
	background:url('./images/dotsH.gif') repeat-x left bottom;
}

.post small{
text-align:right;
color:#ababab;
letter-spacing:normal;
font-size:12px;
display:block;
}

.post.entry a:link,.post.entry a:visiter{
	color:#3d81ee;
}

.postmetadata{
	padding:4px 0px;
	font-size:12px;
	margin:10px auto;
	border-top:3px double #eee;
	border-bottom:3px double #eee;
}


.postmetadata li{
	list-style:none;
	padding:2px 0px 5px 20px;
	background-position:0px -170px;
	background-repeat:no-repeat;
}

.postmetadata li.icon_comment{
	background-image:url("images/icon_voice.gif");
}

.postmetadata li.icon_r{
	padding:0px 0px 0px 20px;
	font-weight:bold;
	float:right;
}

.postmetadata li.icon_cat{
	background-image:url("images/icon_folder.gif");
}

.postmetadata li a:link,.postmetadata li a:visited{
	color:#00a200;
}

.footer{
	width:100%;
	height:auto;
	padding:10px 0px 10px 0px;
	background-color:rgb(247,247,247);
}

.copyRight{
	width:100%;
	text-align:center;
	color:#999l;
	line-height:26px;
	clear:both;
}

.productversion{
	width:100%;
	text-align:center;
	color:#999;
	line-height:26px;
	clear:both;
}

/*comments*/

.comment{
	height:auto;
	min-height:60px;
	padding-top:30px;
	padding-bottom:15px;
	border-bottom:1px solid #e9e9e9;
}

.comment .avatar_img{
	width:50px;
	height:50px;
	float:left;
}

.comment .right{
	float:left;
}
.comment .name{
	color:#2b8ce6;
	font-weight:bold;
	cursor:pointer;
}

.comment .content{
	font-size:12px;
	line-height:16px;
}

.comment .bottom{
	font-size:11px;
	color:#999;
}

.comment .icon{
	margin-right:3px;
}

.comment .icon-up{
	background:url('images/icon_up.png') no-repeat;
}

.comment .icon-down{
	background:url('images/icon_down.png') no-repeat;
}
.comment .icon-reply{
	background:url('images/icon_reply.png') no-repeat;
}

.comment .tile,.comment .toolbar{
	float:left;
}

.comment .time{
	margin-right:10px;
}

.reply_area{
	display:none;
}


/*tags*/

.tagWrapper{

    padding:6px;
}


.tagWrapper  a{
   text-decoration: none;
   display: inline-block;
   margin-right:5px;
   line-height:normal;
}

/*tags end*/


/*reader begin*/

.content p{
    text-indent: 2em;
    margin-bottom:0.8em;
    text-justify: inter-ideograph;
    word-wrap: break-word;
}

.preload{
    display:block;
    width:32px;
    height:32px;
    background:url(/img/preloader.gif) no-repeat;
}


/*reader end*/
