<!DOCTYPE html>
<head>
    <meta charset="utf-8"/>
    <title>Dida</title>
    <!--<link href="/stylesheets/theme/html5_article.css" rel="stylesheet"/>
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet"/>-->
    <link href="/stylesheets/prod/index.min.css" rel="stylesheet"/>
    <script src='/javascript/vendor/jquery-1.9.1.min.js'></script>
</head>

<body>

<header>
    <h1>欢迎来到新世界，One Piece就在这里！！！在这里你可以记录生活中的点滴，你可以和朋友畅谈，你可以阅读你想的.Do whatever you want ,and enjoy yourself here.</h1>
</header>
<div id="container_wrapper">
    <div id="container">
        <%- body %>

    </div>
</div>

<footer>
    <div class="container">
        <small>
            product by barry
        </small>
    </div>
</footer>
<script src='/javascript/vendor/bootstrap.min.js'></script>
</body>