<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="pragma" content="no-cache" />
    <meta http-equiv="expires" content="0" />
    <meta http-equiv="cache-control" content="no-cache" />
    <title>RunJS</title>

    <!-- js framework -->
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.7.1.min.js" type="text/javascript"></script>

    <!--codemirror-->
    <link href="/libs/codemirror/doc/docs.css" rel="stylesheet" type="text/css" />
    <link href="/libs/codemirror/lib/codemirror.css" rel="stylesheet" type="text/css" />
    <link href="/libs/codemirror/theme/ambiance.css" rel="stylesheet" type="text/css" />
    <link href="/libs/codemirror/theme/blackboard.css" rel="stylesheet" type="text/css" />
    <script src="/libs/codemirror/lib/codemirror.js" type="text/javascript"></script>
    <script src="/libs/codemirror/mode/javascript/javascript.js" type="text/javascript"></script>
    <script src="/libs/codemirror/mode/css/css.js" type="text/javascript"></script>
    <script src="/libs/codemirror/mode/htmlmixed/htmlmixed.js" type="text/javascript"></script>
    <script src="/libs/codemirror/mode/htmlembedded/htmlembedded.js" type="text/javascript"></script>
    <script src="/libs/codemirror/addon/edit/matchbrackets.js" type="text/javascript"></script>
    <script src="/libs/codemirror/mode/xml/xml.js" type="text/javascript"></script>

    <link href="/stylesheets/override.css" rel="stylesheet" />
    <link href="/stylesheets/reset.css" rel="stylesheet" />
    <link href="/stylesheets/runjs1.css" rel="stylesheet" />
    <link href="/stylesheets/component.css" rel="stylesheet" />

    <script src="/javascript/dev/common.js"></script>
    <script src="/javascript/dev/view.js"></script>
   <!-- <script src="/javascript/dev/run.js" type="text/javascript"></script>-->
    <script src="/javascript/runjs.js"></script>

    <script src="/javascript/vendor/jquery.ui.widget.js"></script>
    <!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
    <script src="/javascript/jquery.iframe-transport.js"></script>
    <!-- The basic File Upload plugin -->
    <script src="/javascript/jquery.fileupload.js"></script>
</head>
<body>

<header class="clearfix">
    <div class="logo">
        <a title="RunJS" href="/" alt="RunJS">
            <h1>RunJS</h1>
        </a>
    </div>
    <ul>
        <li><a id="setting" href="#">设置</a></li>
        <li><a id="helper" href="#">帮助(<u>F1</u>)</a></li>
        <%if(typeof current_user !== 'undefined'){%>
        <li><a href="/admin"><%=current_user.loginname%></a></li>
        <%}else{%>
        <li><a href="/signin">登陆</a></li>
        <%}%>
    </ul>
    <dl>
        <dd>
            <input type="checkbox" id="html_view" /><label for="html_view">预览</label>
        </dd>
        <dd>
            <input type="checkbox" id="pre_view" /><label for="pre_view">HTML</label>
        </dd>
        <dd>
            <input type="checkbox" id="css_view" /><label for="css_view">CSS</label>
        </dd>
        <dd>
            <input type="checkbox" id="js_view" /><label for="js_view">JavaScript</label>
        </dd>
        <dt>视图:</dt>
    </dl>
    <ul>
        <%if(typeof current_user !== 'undefined'){%>
        <li><a class="publish" href="#">发布</a></li>
        <li><a href="#" id="save">保存(<u>S</u>)</a></li>
        <%}%>
        <li><a href="#" id="preview" >预览</a></li>
    </ul>
</header>
<div class="main clearfix">
    <%if(typeof current_user !== 'undefined'){%>
    <div class="treeview">
        <ul>
            <li>
                <h1>我的代码
                 <span title="创建新代码" class="add_project" id="create_project">
                 </span>
                </h1>
                <ul class="projects">
                    <%if(typeof categories !== 'undefined'){
                    categories.forEach(function(category,i){
                    var className = '';
                    if(typeof content !== 'undefined' && content.sid === category.sid)
                    className = 'prj_selected';
                    else if(typeof content === 'undefined' && i ===0)
                    className = 'prj_selected';
                    %>
                    <li class="project <%=className%>" id="<%=category.sid%>">
                        <div class="title">
                            <a title="test" class="title_name" href="/lab/<%=category.sid%>/edit"><%=category.name%></a>
                            </a>
                            <a class="rdelete">删除</a>
                        </div>
                    </li>
                    <%})}%>
                </ul>
            </li>
            <li>
                <h1>资源文件
                  <span title="添加新资源" class="add_project" id="add_resource">
                 </span>
                </h1>
                <div>
                    <ul class="resources">
                        <%if((typeof content === 'undefined') || (typeof content.resources === 'undefined') || (content.resources.length) ===0){%>
                        <li class="tip">
                            <p style="color: #aaa;">
                                还没有上传任何资源
                            </p>
                            <br />
                            <p>
                                <a id="upload_now" href="javascript:return false;">马上上传</a>
                            </p>
                        </li>
                        <%}else{
                        var names = [];
                        content.resources.forEach(function(rs, i){
                        var token = rs.split('/');
                        token = token[token.length-1].split('_');
                        var name = token[token.length-1];
                        var prefixname = name.split('.')[0];
                        var type = name.split('.')[1];
                        var index = 0;
                        while(names.indexOf(name) != -1){
                        name  = prefixname + index + '.' + type;
                        index++;
                        }
                        names.push(name);
                        %>
                        <li><a class="rname" href="<%=rs%>"><%=name%></a><a class="rdelete">删除</a></li>
                        <%});}%>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
    <%}%>
    <div class="vertical lrhandler"></div>
    <div class="explorer">
        <nav>
            <%- partial('toolbar',{library:library}) %>
        </nav>

        <article class="code">
            <section class="leftpane">
                <div class="fset">
                    <span class="label">HTML</span>
                    <textarea id="code_html"><%=(typeof(content)!=='undefined' && content.html)?content.html : ''%></textarea>
                </div>
                <div class="horizontal"></div>
                <div class="fset">
                    <span class="label">JavaScript</span>
                    <textarea id="code_js"><%=(typeof(content)!=='undefined' && content.js)?content.js : ''%></textarea>
                </div>
            </section>
            <div class="vertical codecenter"></div>
            <section class="rightpane">
                <div class="fset">
                    <span class="label">CSS</span>
                    <textarea id="code_css"><%=(typeof(content)!=='undefined' && content.css)?content.css : ''%></textarea>
                </div>
                <div class="horizontal"></div>
                <div class="fset">
                    <span class="label">Preview</span>
                    <div id="code_pre"></div>
                </div>
            </section>
        </article>
    </div>
</div>
</body>
</html>

