<div class="row-fluid" id="content">
    <div class="span3">
      <ul class="nav nav-list affix" id="feedlist">
          <li><a class="active" href="javascript:return false;" data-feed='huxiu'><i class="icon-chevron-right"></i>虎嗅</a></li>
          <li><a href="javascript:return false;" data-feed='36kr'><i class="icon-chevron-right"></i>36氪</a></li>
          <li><a href="javascript:return false;" data-feed='diggdigest'><i class="icon-chevron-right"></i>煎蛋</a></li>
          <li><a href="javascript:return false;" data-feed='douban'><i class="icon-chevron-right"></i>豆瓣</a></li>
      </ul>
    </div>
    <div class="span9" id="mainContent">
        <span class="preload list-preload"></span>
        <div class="feedcontent"></div>
    </div>
</div>
