
<div class="post">
    <h2>
        <a href="/articles/detail/<%=article._id%>"><%=article.article_title%></a>
    </h2>
    <small><%=article.post_time%> post by <%=article.user.nickname%>, view: <%=article.info.visit_count%></small>
    <div class="entry">
    	<%
    	var summary = "";
    	if(article.summary && article.summary.length>0){
    		summary = article.summary;
    	}else{
    		summary = article.article_content.slice(0,50);	
    	}
    	%>
        <strong>摘要：</strong> <%=summary%>
        <a href="/articles/detail/<%=article._id%>">全文</a>
    </div>
    <ul class="postmetadata">
        <li class="icon_comment icon_r">
            <a href="/articles/detail/<%=article._id%>#comments"><%=article.info.reply_count%> Comments</a>
        </li>
        <li class="icon_cat">
            <strong>目录：</strong>
            <% article.category.forEach(function(category, index) { %>
            <a href="/category/<%=category._id%>"><%=category.category_name%></a>
            <%})%>
        </li>
    </ul>
</div>